body {
  padding: 0;
  margin: 0;

}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 0px 100px;
  box-sizing: border-box;
  transition: .3s;
  z-index: 300;
  font-family: Quicksand;
  font-weight: 600;
}

nav.black{
  background: rgba(47,47,47,0.9);
  height: 75px;
  padding: 0px 100px;
}

nav .logo>img{
  padding: 0px 30px;
  height: 70px;
  float: left;
	padding-top:10px;
	padding-bottom: 5px;
  font-size: 20px;
  transition: 0.3s;
  color: #cacaca;
}

nav.black .logo{
  color: #fff;
}

nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  line-height: 80px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
  color: #cacaca!important;
}

nav.black ul li a{
  color: #fff;
}

nav ul li a:focus{
  outline: none;
}

nav ul li a.active{
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}

.jumbotron{
  background-image: url("../images/Mario_Bros_Map.jpg");
  max-width: 100%;
  height: 1000px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-radius: 0;
}

.jumbotron2{
  background-image: url("../images/mario-gif.gif");
  max-width: 100%;
  height: 1000px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-radius: 0;
}

.jumbotron-footer{
  margin-top: 50px;
  background-image: url("../images/pattern2.svg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sm-spacer{
  margin-top: 3%;
}

.md-spacer{
  margin-top: 7%;
}

.lg-spacer{
	margin-top: 12%;
}


.xs-spacer{
  margin-top: 1.5%;
}

.md-font{
  font-size: 20px;
}

#title-top{
  margin-top: 8%;
  text-align: center;
}


.lead{
  margin-left: 20.5%;
  margin-top: 1%;
}

.lg-font{
  font-size: 30px;
}

.name-font{
  font-size: 35px;
}

.cap-font{
  font-size: 25px;
}

.project-container{
  height: 300px;
  width: 300px;
  margin-right: 50px;
  margin-top: 30px;
  display: inline-block;
}

/*.img-resize:hover{
  height: 320px;
  width: 320px;
}*/

.img-resize{
  width: 300px;
  height: 300px;
  position: absolute;
}

.caption{
  display: inline;
  margin-right: 21.5%;
  font-size: 20px;
}

#tic-cap{
  margin-left: -3%;
  margin-right: 24.5%;
}

#lavandula{
  margin-left: -3%;
  margin-right: 24.5%;
}

.profile-pic-resize{
  height: 250px;
  width: auto;
  caption-side:right;
  float: left;
}

.profile-pic-resize-2{
  height: 280px;
  width: 245px;
  caption-side:right;
  float: left;
}

.float-right-txt{
	float:right;
}

.team-cap{
	margin-left: 25%;
}

.mg-high{
	margin-top:-5%;
}

.ss-resize{
  width: 540px;
  height: auto;
  display: inline-block;
  margin-left: 5px;
}

.prot-resize{
  height: 500px;
  width: auto;
}
