.jumbotron{
  background-image: url("../images/updatebg.png");
  max-width: 100%;
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-radius: 0;

}

.update-img{
    height: 800px;
    width: auto;
    float: left;
    margin-right: 3%
}

.sm-update-img{
    margin-top: 30px;
    height: 434px;
    width: auto;
    float: left;
    margin-right: 3%
}

.status-cap{
  margin-bottom: 21%;
}

.stat-font{
  font-size: 20px;
}
